name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "5 6 24 * *"
  workflow_dispatch:

permissions:
    contents: read
    packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo
        uses: actions/checkout@v3

      # --- NEW STEPS FOR MULTI-ARCH SUPPORT ---
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      # ----------------------------------------
      
      #- name: Log in to Docker Hub
      #  uses: docker/login-action@v2
      #  with:
      #    username: canofsocks
      #    password: ${{ secrets.DOCKER_TOKEN }}
          
      - name: Log into GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Docker create tag meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |            
            ghcr.io/canofsocks/livestream_dl
          #  canofsocks/livestream_dl
          tags: |
            type=edge,branch=main
            type=raw,value=latest
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=sha
            
      - name: Build and publish
        uses: docker/build-push-action@v4
        with:
          context: .
          # ADDED: Platforms for multi-arch build
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
